#s {
    background-color:bisque;
    color: #801414;
}
#ss {
    background-color:#ffc800;
    color:brown;
}
#sss {
    background-color: blueviolet;
    color: #ffc800;
}
#ssss {
    background-color: green;
    color: #001999;
}

#one {
    border: 1px solid black;
    background-color:darkblue;
    color: #ffffff;
    font-size: 120%;
    font-family: 'Roboto Condensed', sans-serif;
}
#two {
    border: 1px solid black;
    background-color:olive;
    color:black;
    font-size: 120%;
    font-family: 'Roboto Condensed', sans-serif;
}
#three {
    border: 1px solid black;
    background-color:darkslategrey;
    color: wheat;
    font-size: 120%;
    font-family: 'Roboto Condensed', sans-serif;
}
#four {
    border: 1px solid black;
    background-color:purple;
    color: #ffc800;
    font-size: 120%;
    font-family: 'Roboto Condensed', sans-serif;
}

.main {
    position: relative;
    float: right;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.start {
    font-family: 'Zen Dots', cursive;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 12px;
}
@media (max-width: 767.99px) {
    .main{
        flex-direction: column;
    }
    .col-sm-12 {
        width: 100%;
    }
} 
@media (min-width: 768px) and (max-width: 991.99px) { 
    .col-md-6 {
        width: 50%;
    }
}
@media (min-width: 992px) and (max-width: 1199.99px) {
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-12 {
        width: 100%;
    }
}
@media (min-width: 1200px) {
    .col-vlg-3 {
        width: 25%;
    }
}